/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.item .container a{
  text-align: center;
   text-align: center;
  margin: 20px auto;
  display: block;
}
.item h1{
  text-align: center;
  margin: 200px auto 0 auto;
  display: block;
  color: white;

}

.item p{
  text-align: center;
  margin: 20px auto;
  display: block;
  color: white;
}

.auto{
  width: 120px;
  float: none;
  text-align: center;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}

.slider_01{
  background-image: url("/assets/lizard_01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider_02{
  background-image: url("/assets/lizard_02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-sm-4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-sm-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette{
  padding: 0px 3% 0px 3%;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.container{
  width: 100%;
}

.container .row{
  width: 100%;
}

.marketing img{
  max-width: 280px;
}

.marketing .col-xs-12{
  margin-bottom: 50px;
}

html{
  font-family: "微軟正黑體" , "Microsoft JhengHei" , "正黑體", "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", "Helvetica" , sans-serif;
}

.img-half-circle{
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.row_icon{
  margin: 0px 20px 30px 0px;
}

.p_width{
  margin:0 auto;
  width: auto;
  /*padding: 0 10px 0 10px;*/
  text-align: justify;
  padding: 0 40px 0 40px;
  /*text-align: center;*/
}





