<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Sticky Footer Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="sticky-footer.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      controlsContainer: ".flex-container"    
    });
  });
</script>
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header"> 
          <div class="row">   
              <div class="col-xs-12 col-sm-2 col-md-2 second_cloud">
                <img src="assets/logo_icon.png" >
                <h4>二手雲</h4>
              </div>
            <div class="col-xs-12 col-sm-10 col-md-10 four_function">
            <div>
             <p class="function_red">賣</p>
             <p class="fun2">買</p>
             <p class="fun3">換</p>
             <p class="fun4">送</p>
              <h2>Coming Soon...</h2>
            </div>
            </div>
          </div>
        </div><!-- page-header -->
       
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p><span class="sell_text">關於二手雲app</span><br>
              想要在網路上交易物品？使用二手雲，您可以用行動裝置拍攝商品照片，輸入商品相關資訊及敘述。只要這樣簡單的幾個步驟，完成後上傳，立即幫您產生商品頁面，讓商品資訊詳細呈現。利用此商品頁面，您便可以張貼於Facebook、論壇及PTT上，讓大家瀏覽您的商品，快速找到交易對象。少去繁瑣的步驟，就能輕鬆完成交易！除了app版本外，也將提供網頁版本供大家使用，期待與大家相見！</p>   
          </div>
        </div>   

      </div>
      </div>




    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Powered by <a href="http://martinbean.co.uk">fontech</a>.</p>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>