<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Sticky Footer Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="sticky-footer.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      controlsContainer: ".flex-container"    
    });
  });
</script>
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header"> 

          <div class="row">
    
              <div class="col-xs-7 col-sm-10 col-md-10 second_cloud">
                <img src="assets/logo_icon.png" >
                <h4>二手雲</h4>
              </div>
            <div class="col-xs-5 col-sm-2 col-md-2">
              <p><a class="btn btn-primary btn_margin_adjust" role="button">張貼我的商品</a></p>
            </div>
          </div>

        </div>
       
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div >
             <p class="function_red">賣</p>
             <p class="function1">買</p>
             <p class="function1">換</p>
             <p class="function1">送</p>
            </div>
          </div>
         <!--  <div class="col-xs-2 col-sm-1 col-md-1">
             <p class="function2">買</p>
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1">
            <p class="function3">換</p>
          </div>
          <div class="col-xs-6 col-sm-9 col-md-9">
            <p class="function4">送</p>
          </div> -->
        </div>   

        <div class="row">
          <div class="col-xs-12 col-md-12">
            <p class="sell_text"><span class="bold">雀巢咖啡DOLCE GUSTO膠囊咖啡機New Melody-星夜紅</span><p>
            <p class="sell_text"><span class="bold">商品價格：</span>5000元<br>
            <span class="bold">商品狀況：</span>全新<br>
            <span class="bold">其他資訊：</span><br>
            這是抽獎抽到的，感覺膠囊咖啡滿方便的，但自己一個人住外面沒地方放，所以想要賣出。<br>在此放上<a href="https://www.dolce-gusto.com.tw/ZH/machines/Melody-Automatic/Pages/Melody3.aspx">官網介紹</a>,官網售價為6599，就賣5000就好，意者再私訊跟我聯絡吧！

            </p>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="flexslider">
             <ul class="slides">
              <li>
                <img src="assets/sell02_coffee1.jpg">
              </li>
              <li>
                <img src="assets/sell02_coffee2.jpg">
              </li>
            
             </ul> 
            </div>
          </div>
        </div>
      </div>
      </div>




    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Powered by <a href="http://martinbean.co.uk">fontech</a>.</p>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>