<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>Carousel Template for Bootstrap</title>
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
   <div class="grab" >
    <div class="col-xs-12 col-sm-9">
      <h3> 商品名稱：Esprit 西裝外套</h3>
        <h3> 購買網址：無</h3>
        <h3> 交易地區：台北市捷運沿線各站</h3>
        <h3> 商品價格：3500</h3>
        <h3> 新舊狀況：不到一年，穿沒幾次</h3>
        <h3> 交易方式：現金面交</h3>
        <h3> 聯絡方式：私訊或email：icelorc@gmail.com</h3>
        <h3> 其他說明：</h3>
        <h3> 購入不到一年，當時記得花五千多買的</h3>
        <h3> 因為當時太衝動買的XD，結果對我來講不太好搭，穿沒幾次，決定賣出！</h3>
        <h3> SIZE為L 身高約180穿的</h3>
        <h3> 顏色是藍色，偏深的藍色</h3>
        <h3> 內裡是紅色，低調的華麗！</h3>
        <h3> 真的很好看喔！希望能賣3500，意者洽談，謝謝！<br><br><br><br></h3>
   </div>

<div class="row">
      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-4">
          <h2>顏色是藍色，偏深的藍色。</h2>
        </div>
        <div class="col-md-8">
          <img class="featurette-image img-responsive img-thumbnail" src="assets/suit_01.jpg">
        </div>
      </div>
      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-4">
          <h2 class="featurette-heading">SIZE為L 身高約180穿的</h2>
        </div>
        <div class="col-md-8">
          <img class="featurette-image img-responsive img-thumbnail" src="assets/suit_02.jpg">
        </div>
        
      </div>
        <hr class="featurette-divider">
     <hr class="featurette-divider">

          <div class="row">
            <div class="col-md-8">
              <img class="featurette-image img-responsive img-thumbnail" src="assets/suit_03.jpg">
            </div>
            <div class="col-md-4">
              <h2 class="featurette-heading">免註冊產生自己的商品網頁<br><span class="text-muted">方便您利用你自己的網址</span></h2>
              <p class="lead">透過xxx你可以產生自己的網址，方便你分享到任何Facebook社團、論壇或是Ptt上，省去重複上傳照片的繁瑣流程。</p>
            </div>
          </div>
          <hr class="featurette-divider"> <hr class="featurette-divider">

          <div class="row">
            <div class="col-md-8">
              <img class="featurette-image img-responsive img-thumbnail" src="assets/suit_04.jpg">
            </div>
            <div class="col-md-4">
              <h2 class="featurette-heading">內裡是紅色，低調的華麗！</h2>
              
            </div>
          </div>
          <hr class="featurette-divider">
          <!-- /END THE FEATURETTES -->

</div>
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; <!-- 2013 Company, Inc. --> &middot;</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>
  </body>
</html>
