<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Sticky Footer Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header"> 

          <div class="row">
    
              <div class="col-xs-12 col-sm-2 col-md-2">
                <img src="assets/logo_icon.png" >
              </div>
              <div class="col-xs-12 col-sm-8 col-md-8">
                <h1 class="sell">二手雲</h1>
              </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
              <p><a class="btn btn-primary" role="button">張貼我的商品</a></p>
            </div>
          </div>

        </div>
       
        <div class="row">
           <div class="col-xs-3 col-sm-1 col-md-1">
            <div class="function1">
             <p class="">賣</p>
            </div>
          </div>
          <div class="col-xs-3 col-sm-1 col-md-1">
             <p class="function2">買</p>
          </div>
          <div class="col-xs-3 col-sm-1 col-md-1">
            <p class="function3">換</p>
          </div>
          <div class="col-xs-3 col-sm-9 col-md-9">
            <p class="function4">送</p>
          </div>
        </div>   

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p class="sell_text"><span class="bold">商品價格：</span>3500元<br>
            <span class="bold">商品狀況：</span>不到一年，穿沒幾次<br>
            <span class="bold">其他資訊：</span><br>
            購入不到一年，當時記得花五千多買的，因為當時太衝動買的XD，結果對我來講不太好搭，穿沒幾次，決定賣出！
            SIZE為L  身高約180穿的
            顏色是藍色，偏深的藍色
            內裡是紅色，低調的華麗！
            真的很好看喔！意者洽談，謝謝！
            </p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="assets/suit_01.jpg" class="sell_image">
          </div>
        </div>
      </div>
      </div>




    <div id="footer">
      <div class="container">
        <p class="text-muted credit">copyright<a href="http://martinbean.co.uk">fontech</a>.</p>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
