<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>Carousel Template for Bootstrap</title>
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li> 
      </ol>
      <div class="carousel-inner">
        <div class="item active slider_01">
          <div class="container">
            <div class="carousel-caption">
            </div>
             <h1>二手雲</h1>
              <p>現在就下載二手雲app，免費、不用註冊，立即體驗方便的分享經驗。</p>
              <p><a class="btn btn-lg btn-primary center-block auto" href="#apple store" role="button">立即下載</a></p>
          </div>
        </div>
        <div class="item slider_02">
          <div class="container">
            <div class="carousel-caption">
            </div>
            <h1>xxx</h1>
            <p>沒有iPhone嗎？可以先使用網頁版的二手雲喔！一樣免費、免註冊。</p>
            <p ><a class="btn btn-lg btn-primary auto" href="#apple store" role="button">使用網頁版</a></p>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-xs-12 col-sm-4 ">
          <img src="./assets/camera.png" class="img-circle" width="90%">
          <h2>拍攝商品照片</h2>
          <p class="p_width">想要交易物品嗎？只要使用您手邊的行動裝置，開啟二手雲，拍攝新照片或使用裝置內照片，無需額外上傳照片。</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-xs-12 col-sm-4 ">
          <img src="./assets/handy.png"  class="img-half-circle"  width="90%">
          <h2>輸入商品資訊</h2>
          <p class="p_width">依照所提供的格式，填入商品資訊，將使您的交易內容清楚呈現。</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-xs-12 col-sm-4 ">
          <img src="./assets/cloud.png"  width="90%">
          <h2>取得頁面連結</h2>
          <p class="p_width">送出商品照片及資訊後，便立即擁有專屬於您自己的商品頁面，並取得連結。利用連結您可以分享至各處，幫您迅速找到交易對象，完成交易。</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">免註冊產生專屬的商品網頁<br><span class="text-muted">方便您利用您自己的網址</span></h2>
          <p class="lead">透過二手雲您可以產生商品頁面的網址，方便您分享到Facebook、論壇或PTT上，省去上傳照片及張貼文章的繁瑣流程。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">減少臉書社團相簿混亂<br><span class="text-muted">減輕板主負擔</span></h2>
          <p class="lead">利用二手雲分享暫時性的照片與資訊，把社團相簿留給值得留念的照片與記錄，也減少板主管理的負擔。</p>
        </div>
      </div>
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot;</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>
  </body>
</html>
